<section class="current-location_info">
  <div class="main--info">
    <div class="icon icon_big bg-cloud_dark_01"></div>
    <div class="big--celsius">
      <div class="big--celsius_text">19</div>
      <div class="date">
        <div class="text-normal">May 6, 2023</div>
        <div class="text-normal">Saturday 9:37PM</div>
        <button class="btn">
          <div class="btn_body">
            <span class="btn_icon"></span>
            <span class="btn_text">Details</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="smaller-weather-info">
    <div class="smaller-weather-info_element">
      <span class="icon icon_small temperature_dark-01"></span>
      <span class="text-normal fahrenheit-text">77</span>
    </div>
    <div class="smaller-weather-info_element">
      <span class="icon icon_small windspeed_dark-01"></span>
      <span class="text-normal windspeed-text">12</span>
    </div>
    <div class="smaller-weather-info_element">
      <span class="icon icon_small humidity_dark-01"></span>
      <span class="text-normal humidity-text">70</span>
    </div>
  </div>
</section>
