<section class="daily-forecast">
  <div class="daily-forecast_grid">
    <button class="daily-forecast_btn">
      <div class="daily-forecast_element">
        <span class="icon icon_medium bg-sun_dark"></span>
        <div class="daily-forecast_text">
          <div class="text-normal">Sun, May 7</div>
          <div class="text-normal daily-forecast_temperature">17</div>
        </div>
      </div>
    </button>

    <button class="daily-forecast_btn">
      <div class="daily-forecast_element">
        <span class="icon icon_medium bg-sun_dark"></span>
        <div class="daily-forecast_text">
          <div class="text-normal">Sun, May 7</div>
          <div class="text-normal daily-forecast_temperature">17</div>
        </div>
      </div>
    </button>

    <button class="daily-forecast_btn">
      <div class="daily-forecast_element">
        <span class="icon icon_medium bg-sun_dark"></span>
        <div class="daily-forecast_text">
          <div class="text-normal">Sun, May 7</div>
          <div class="text-normal daily-forecast_temperature">17</div>
        </div>
      </div>
    </button>

    <button class="daily-forecast_btn">
      <div class="daily-forecast_element">
        <span class="icon icon_medium bg-sun_dark"></span>
        <div class="daily-forecast_text">
          <div class="text-normal">Sun, May 7</div>
          <div class="text-normal daily-forecast_temperature">17</div>
        </div>
      </div>
    </button>

    <button class="daily-forecast_btn">
      <div class="daily-forecast_element">
        <span class="icon icon_medium bg-sun_dark"></span>
        <div class="daily-forecast_text">
          <div class="text-normal">Sun, May 7</div>
          <div class="text-normal daily-forecast_temperature">17</div>
        </div>
      </div>
    </button>

    <button class="daily-forecast_btn">
      <div class="daily-forecast_element">
        <span class="icon icon_medium bg-sun_dark"></span>
        <div class="daily-forecast_text">
          <div class="text-normal">Sun, May 7</div>
          <div class="text-normal daily-forecast_temperature">17</div>
        </div>
      </div>
    </button>

    <button class="daily-forecast_btn">
      <div class="daily-forecast_element">
        <span class="icon icon_medium bg-sun_dark"></span>
        <div class="daily-forecast_text">
          <div class="text-normal">Sun, May 7</div>
          <div class="text-normal daily-forecast_temperature">17</div>
        </div>
      </div>
    </button>
  </div>
</section>
