<section class="details">
  <div class="details__grid">
    <div class="details__element text-normal">
      <div class="details__label">High</div>
      <div class = "text-bold">
        <span class="details__data">30</span>
        <span class="details__unit">°C</span>
      </div>
    </div>
    <div class="details__element text-normal">
      <div class="details__label">FL High</div>
      <div class = "text-bold">
        <span class="details__data">27</span>
        <span class="details__unit">°C</span>
      </div>
    </div>
    <div class="details__element text-normal">
      <div class="details__label">Wind</div>
      <div class = "text-bold">
        <span class="details__data">13</span>
        <span class="details__unit">km/h</span>
      </div>
    </div>
    <div class="details__element text-normal">
      <div class="details__label">Low</div>
      <div class = "text-bold">
        <span class="details__data">21</span>
        <span class="details__unit">°C</span>
      </div>
    </div>
    <div class="details__element text-normal">
      <div class="details__label">FL Low</div>
      <div class = "text-bold">
        <span class="details__data">21</span>
        <span class="details__unit">°C</span>
      </div>
    </div>
    <div class="details__element text-normal">
      <div class="details__label">Precip</div>
      <div class = "text-bold">
        <span class="details__data">0.1</span>
        <span class="details__unit">cm/m.kw.</span>
      </div>
    </div>
  </div>
</div>
</section>