<section class="hourly-forecast__section">
  <div class="hourly-forecast">
    <div class="hourly-forecast__element">
      <div class="hourly-detail hourly-detail-day">
        <div id="hourly-day" class="hourly-day text-normal text-bold">
          Thursday
        </div>
      </div>
      <div class="hourly-detail hourly-detail-time">
        <div
          id="hourly-icon"
          class="hourly-icon icon__small bg-cloud_dark_01"
        ></div>
        <div id="hourly-time" class="hourly-time text-normal">10:00</div>
      </div>
      <div class="hourly-detail hourly-detail-temp">
        <div
          id="hourly-icon"
          class="hourly-icon icon__small bg-cloud_dark_01"
        ></div>
        <div
          id="hourly-temp"
          class="hourly-temp text-normal temperature__small"
        >
          17
        </div>
      </div>
      <div class="hourly-detail hourly-detail-prob">
        <div
          id="hourly-icon"
          class="hourly-icon icon__small bg-cloud_dark_01"
        ></div>
        <div
          id="hourly-precip-probability"
          class="hourly-precip-probability text-normal temperature__small"
        >
          17
        </div>
      </div>
      <div class="hourly-detail hourly-detail-sum">
        <div
          id="hourly-icon"
          class="hourly-icon icon__small bg-cloud_dark_01"
        ></div>
        <div
          id="hourly-precip-sum"
          class="hourly-precip-sum text-normal temperature__small"
        >
          17
        </div>
      </div>
    </div>
  </div>
  <div class="dividing-line"></div>
</section>
