<div class="main--info">
  <div class="icon icon_big bg-cloud_dark_01"></div>
  <div class="big--celsius">
    <div class="big--celsius_text">19</div>
    <div class="date">
      <div class="dateData" id="currentDate">May 6, 2023</div>
      <div class="dateData" id="currentTime">Saturday 9:37PM</div>
      <button class="btn">
        <div class="btn_body">
          <span class="btn_icon"></span>
          <span class="btn_text">Details</span>
        </div>
      </button>
    </div>
  </div>
</div>
