<div class="smaller-weather-info">
  <div class="smaller-weather-info_element">
    <span class="icon icon_small temperature_dark-01"></span>
    <span class="text-normal fahrenheit-text">77</span>
  </div>
  <div class="smaller-weather-info_element">
    <span class="icon icon_small windspeed_dark-01"></span>
    <span class="text-normal windspeed-text">12</span>
  </div>
  <div class="smaller-weather-info_element">
    <span class="icon icon_small humidity_dark-01"></span>
    <span class="text-normal humidity-text">70</span>
  </div>
</div>
