/* @import "/src/css/icons.css"; */

:root {
  --color-background-light: rgb(255, 237, 211);
  --color-background-dark: rgb(52, 66, 86);
  --color-primary: rgb(52, 66, 86);
  --color-highlight: rgb(195, 45, 45);

  --font-family-normal: "Open Sans", Arial, Helvetica, sans-serif;
  --font-family-elegant: "DM Serif Display", "Times New Roman", Times, serif;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 4rem;
  background: var(--color-background-light);
  font-family: var(--font-family-normal);
}

/* LOGO AND HEADER.. ------------------------------------------------------------------------------------------------*/

.logo__container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

/* HEADINGS AND TEXTS ------------------------------------------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-family: var(--font-family-elegant);
}

h1 {
  font-size: clamp(2.8rem, 10vw, 8rem);
  margin: 2rem 0 1rem;
}

h2 {
  font-size: clamp(2.4rem, 6vw, 6rem);
  margin: 1rem 0 1rem;
}

p {
  color: var(--color-primary);
  font-size: clamp(1.6rem, 4vw, 4rem);
  margin: 0;
  line-height: 1.6;
}

.temperature__big {
  font-family: var(--font-family-elegant);
  font-size: clamp(4.8rem, 8vw, 14rem);
  margin: 1rem 0;
}

/* ICONS ------------------------------------------------------------------------------------------------ */

.icon {
  display: inline-block;
}

.icon_big {
  width: clamp(3rem, 20vw, 8rem);
  height: clamp(3rem, 20vw, 8rem);
}
.bg-cloud_dark_01 {
  background: url("/src/icons/svg/cloud_dark-01.svg");
}

/* BUTTONS ------------------------------------------------------------------- */

.btn {
  background: var(--color-primary);
  border: none;
  color: var(--color-background-light);
  margin-top: 2rem;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
  min-width: fit-content;
}

.btn_body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn_text {
  padding: 0 0 0 1rem;
  font-family: var(--font-family-normal);
  font-weight: 600;
}

.btn_icon {
  width: 30px;
  height: 30px;
  background: url("/src/icons/svg/next.svg");
  display: inline-block;
  transition: transform 0.3s ease;
}

.btn:hover {
  background: var(--color-highlight);
}

.btn:hover .btn_icon {
  transform: rotate(90deg);
}

/* MAIN INFO */

.main--info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

/* BIG CELSIUS */

.big--celsius {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: -1rem 0 0 2rem;
}

.big--celsius_text {
  font-family: var(--font-family-elegant);
  font-size: clamp(3rem, 20vw, 8rem);
  color: var(--color-primary);
  margin: 0;
}

.big--celsius_text::after {
  content: "°C";
}

/* DATE AND TIME */

.dateData {
  font-family: var(--font-family-normal);
  font-size: clamp(2rem, 2vw, 6rem);
  color: var(--color-primary);
  line-height: 1.5;
}
