/* @import "/src/css/icons.css"; */

:root {
  --color-background-light: rgb(255, 237, 211);
  --color-background-dark: rgb(52, 66, 86);
  --color-primary: rgb(52, 66, 86);
  --color-highlight: rgb(195, 45, 45);

  --font-family-normal: "Open Sans", Arial, Helvetica, sans-serif;
  --font-family-elegant: "DM Serif Display", "Times New Roman", Times, serif;

  /* -webkit-text-size-adjust: auto; */
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: clamp(1rem, 5vw, 10rem);
  background: var(--color-background-light);
  font-family: var(--font-family-normal);
  color: var(--color-primary);
}

/* LOGO AND HEADER.. ------------------------------------------------------------------------------------------------*/

.logo__container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

/* HEADINGS AND TEXTS ------------------------------------------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6,
#h1__input {
  color: var(--color-primary);
  font-family: var(--font-family-elegant);
  font-weight: 100;
}

h1 {
  margin: 4rem 0 4rem 0;
  line-height: 1.4;
}

#h1__input {
  border: none;
  resize: none;
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  height: auto;
  min-height: 1em; /* Dodaj tę linię */
  color: var(--color-highlight);
  background: none;
  outline: none;
  line-height: 1.2;
  align-content: center;
  display: inline;
}

#h1__container {
  display: flex;
  flex-direction: column;
}

h1,
#h1__input {
  font-size: clamp(2.8rem, 10vw, 6rem);
}

::placeholder {
  color: var(--color-highlight);
}

h2 {
  font-size: clamp(2.6rem, 4vw, 4rem);
  margin: 6rem 0 2rem;
}

.text-normal {
  font-family: var(--font-family-normal);
  font-size: clamp(2rem, 1.2vw, 5rem);
  color: var(--color-primary);
  line-height: 1.8;
}

.text-bold {
  font-weight: 600;
}

.temperature__big {
  font-family: var(--font-family-elegant);
  font-size: clamp(4.8rem, 8vw, 14rem);
  margin: 1rem 0;
}

.temperature__small::after,
.temperature__big::after {
  font-size: inherit;
  font-family: inherit;
  content: "℃";
}

/* ICONS ------------------------------------------------------------------------------------------------ */

.icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.icon__big {
  width: clamp(3rem, 20vw, 8rem);
  height: clamp(3rem, 20vw, 8rem);
}

.icon__medium {
  width: clamp(2rem, 15vw, 5rem);
  height: clamp(2rem, 15vw, 5rem);
  margin-right: 1rem;
}

.icon__small {
  width: clamp(1.2rem, 10vw, 3rem);
  height: clamp(1.2rem, 10vw, 3rem);
}

.bg-cloud_dark_01 {
  background: url("/src/icons/svg/cloud_dark-01.svg");
  background-position: center;
}

.temperature_dark-01 {
  background: url("/src/icons/svg/temperature_dark-01.svg");
}

.windspeed_dark-01 {
  background: url("/src/icons/svg/windspeed_dark-01.svg");
  background-repeat: no-repeat;
}

.humidity_dark-01 {
  background: url("/src/icons/svg/humidity_dark-01.svg");
}

.bg-sun_dark {
  background: url("/src/icons/svg/sun_dark.svg");
}

/* BUTTONS ------------------------------------------------------------------- */

.btn {
  background: var(--color-primary);
  border: none;
  color: var(--color-background-light);
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: clamp(1.6rem, 1.2vw, 3rem);
  padding-right: clamp(1.6rem, 1.2vw, 3rem);
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: fit-content;
}

.btn__body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn__text {
  padding: 0 0 0 1rem;
  font-family: var(--font-family-normal);
  color: var(--color-background-light);
}

.btn__icon {
  width: clamp(1.6rem, 1.2vw, 3rem);
  height: clamp(1.6rem, 1.2vw, 3rem);
  background: url("/src/icons/svg/next.svg");
  display: inline-block;
  transition: transform 0.3s ease;
}

.btn.btn-active,
.btn:hover,
.btn[data-active],
.btn[true] {
  background: var(--color-highlight);
}

.btn:hover .btn__icon,
.btn__icon-active {
  transform: rotate(90deg);
}

/* CURRENT WEATHER */

.current-weather {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  width: clamp(50%, 100%, 100%);
}

@media screen and (min-width: 600px) {
  .current-weather {
    width: 60%;
  }
}

/* MAIN INFO */

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-info__data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
}

/* NUMBER BIG */

.number-big {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: -2rem 0 0 0rem;
}

.number-big_text {
  font-family: var(--font-family-elegant);
  font-size: clamp(3rem, 20vw, 8rem);
  color: var(--color-primary);
  margin: 0;
}

.number-big_text::after {
  content: "°C";
}

/* DETAILS */

@media screen and (max-width: 1110px) {
  .details,
  .btn {
    margin-top: 4rem;
  }
}

.details__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  width: 100%;
}

/* HOURLY FORECAST */

.hourly-forecast__section {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

@media screen and (min-width: 600px) {
  .hourly-forecast__section {
    width: 60%;
  }
}

.hourly-forecast__section.active {
  max-height: 100%;
  opacity: 1;
}

.dividing-line {
  border: 1px solid var(--color-highlight);
  margin-top: 4rem;
}

.hourly-forecast {
  display: flex;
  flex-wrap: wrap;
}

.hourly-forecast__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: 4rem;
  padding: 1rem;
}

/* DAILY FORECAST */

.daily-forecast__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(fit-content, 1fr));
  width: 100%;
}

.daily-forecast__btn {
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
  /* padding: 1rem; */
  border-radius: 7px;
}

.daily-forecast__btn:first-of-type {
  padding-left: 0;
}

.daily-forecast__btn:hover,
.daily-forecast__btn:active,
.daily-forecast__btn:focus {
  transform: scale(1.05);
}

.daily-forecast__element {
  display: flex;
  align-items: center;
  margin: 0 0 2rem;
}

.daily-forecast__text {
  margin-right: 4rem;
}

.daily-forecast__temperature::after {
  content: "°C";
}
